header {
    text-align: center;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 100px;
    border-radius: 10px;
}

.startBtn {
    border: none;
    border-radius: 3rem;
    height: 2rem;
    background-color: lightgreen;
    transition: .2s;
}

.startBtn:hover {
    height: 2.1rem;
}
.container {
    background-color: rgb(209, 80, 80);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: clamp(100px, 300px, 500px);
    height: clamp(fit-content, 300px, 500px);
}

.container div {
    color: rgba(209, 80, 80, 0);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-size: 100px;
}
